div .videotop {
	position: relative;
	height: 100%; 
	min-width: 100%;
	margin: auto;
	display: block;
    min-width: 100%;
    height: auto;
	margin-bottom: 80px;
}

div .imgbox {
	position: relative;
    min-width: 100%;
    height:auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

div .iframe {
	position: relative;
	margin: auto;
}

div .story {
font-style: Helvetica;
}


video {
  position: relative;
    height: 100%; 
    min-width: 100%;
    margin: auto;
    display: block;
    min-width: 100%;
    height: auto;
    margin-bottom: 80px;
    }



h1 {
	position: relative;
	margin-right: : auto;
	margin-left: auto;
	margin-bottom: 80px;
	margin-top: 80px;
	word-spacing: 0px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 50px;
    line-height: 54px;
}


.scrolldown {

    position: relative;
    left: 50%;
    width: 37px;
    height: 22px;
    margin-left: -18px;
    background: url(images/down.png);
}

.ir {

    background-color: transparent;
    border: 0;
    overflow: hidden;
} 

.sectiontexte {

	color: #000000;
	text-align: justify;
	text-justify: inter-word;
	margin-top: 80px;
	margin-bottom:80px;
	max-width: 800px;
	min-width: 100px;
	margin: 0 auto;
}

p {
    position: relative;
    font-family: Helvetica, sans-serif; 
    font-size: 20px;
	line-height: 30px;
    padding: 10px;
    color: #000000;
	text-justify;
	max-width: 800px;
	min-width: 100px;
	margin: 0 auto;
	margin-bottom:50px;
}

.citation {
	color: #000000;
	font-weight: normal;
	font-size: 1.5em;
  	padding: 0;
    text-justify;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.source {
	color: #999;
	font-weight:italic; 
	font-size: 0.9em;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 600px;
    margin-bottom: 30px;
}

img {
	position: relative;
	padding: 0;
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.manuel {
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    min-width: 100%;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

.cover { 
	padding: 0;
    margin: 0 auto;
    height: auto;
    min-width: 100%;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
} 


iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height:100%;
}

